body {
    color:bisque;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

header {
    padding: 20px 35px;
    background-color: bisque;
}
header h1 {
    font-weight: bold;
    font-size: 33px;
    color: black;
    margin: 0;
    display: inline;
}
header a{
    text-decoration-color: black;
    color: black;
}