*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif 
    color bisque;
}

header {
    padding: 20px 35px;
    background-color: bisque;
}
header h1 {
    font-weight: bold;
    font-size: 33px;
    color: black;
    margin: 0;
    display: inline;
}
header a{
    text-decoration-color: black;
    color: black;
}
header nav {
    float: right;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 23px;
}

/* Hero Start */

    .hero {
        background-image: url("../images/p-background.jpg");
      height: 600px;
      background-size: cover;
      background-position: center;
      position: relative;
    }
.hero div {
    margin-right: -50px;
}
/* Hero End */

/* About section */
.info {
    text-align: center;
}
.info h2 {
    font-size: 55px;
    color: #764002;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;
    border-color: #6238fc;
}

.info p {
    line-height: 1.5;
    color: #9639b2;
    width: 80%;
    font-size: 20px;
 margin: 0 auto;
}
.apps {
    display:flex;
    text-align:center;
background-color: rgba(0, 0, 0, 0.692);
}
.apps h2 {
    font-size: 35px;
    color: #e211e275;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
}